@font-face {
  font-family: "hammersmith";
  src: url(font/Hammersmith_One/HammersmithOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "hammersmith";
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 35, 35);
}

.container {
  width: 100%;
  min-width: 100vh;
  padding: 10px;
}

.todo_app {
  width: 100%;
  max-width: 640px;
  background: #dcd4c5;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  position: relative;
}

.todo_app h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-right: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

/* Css til add knap */
#add_knap {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #5f5f5f;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border-radius: 30px;
  margin-right: -20px;
  transition: all 0.3s ease;
}

#add_knap:hover {
  transform: scale(1.05);
}

/* Css til clear all knappen */
#clear_knap {
  border: none;
  outline: none;
  background: none;
  margin-left: 480px;
  position: absolute;
  bottom: 20px;
  left: 90px;
  right: 30px;
  transition: all 0.3s ease;
}

#clear_knap img {
  width: 70%;
  height: 28px;
}

#clear_knap:hover {
  transform: scale(1.08);
}

/* css til vores liste med tasks */
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

/* css til det sorte unchecked */
ul li::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: url(img/tjek.png);
  background-size: cover;
  background-position: center;
  top: 5px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

/* css til det grønne checked */
ul li.checked::before {
  background-image: url(img/tjek2.png);
  height: 53px;
  width: 53px;
  top: -4px;
  left: -2px;
}

/* Css til X */
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #d56761;
}

p {
  font-size: smaller;
  color: #4a4a4a;
}
